/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face{
    font-family: "roboto";
    src: url("../Assets/Fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: "roboto-light";
    src: url("../Assets/Fonts/Roboto-Light.ttf");
}
@font-face{
    font-family: "roboto-medium";
    src: url("../Assets/Fonts/Roboto-Medium.ttf");
}
@font-face{
    font-family: "roboto-bold";
    src: url("../Assets/Fonts/Roboto-Bold.ttf");
}
