/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #A13893;
	border-color: #A13893;
	background: #A13893;
	color: $brand-white;
	line-height: 1.75rem;
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	font-size: 14px;
	font-family: $font-light;
	color: #000;
	font-style: italic;
	
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
	width: 450px;
	margin-right: 1rem;
	line-height: 1.75rem;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

input[placeholder="email address"] {
	font-style: italic;
}
