/**     HEADER STYLES    **/

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  height: 52px;
  .header-container {
    display: flex;
    justify-content: space-between;
    width: 473px;
    margin-left: auto;
    margin-right: auto;
    .site-branding {
      .acuity-logo {
        a {
           color: $brand-dark-grey;
          img {
            margin-left: 26px;
            margin-top: 9px;
            margin-bottom: 9px;
            width: 136px;
            height: 34px;
          }
          &:hover {
            text-decoration: none;
          }
          &:visited {}
        }
      }
    }
  }
}



