/**     HEADER STYLES    **/

.site-header {
  // margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  height: 25px;
  .header-container {
    display: flex;
    justify-content: space-between;
    width: 473px;
    margin-left: auto;
    margin-right: auto;
    height:100%;
    .site-branding {
      .acuity-logo {
        a {
           color: $brand-dark-grey;
          img {
            margin-left: 26px;
            margin-top: 9px;
            margin-bottom: 9px;
            height: 33px;
          }
          &:hover {
            text-decoration: none;
          }
          &:visited {
            color: $brand-dark-grey;
          }
        }
      }
    }
  }
}



