/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
//header
h1{
    color: rebeccapurple;
}

//hero image
.hero-image {
    height: 90vh;
    width: 100%;
    background-color: yellow;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .hero-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
    
      h2 {
        color: green;
        font-size: 3rem;
        margin: 0;
      }
    
      p {
        margin: 0;
      }
    }
  }

  .back-to-top {
    font-family: $font-light;
    color: $brand-pink;
    position: fixed;
    text-align: center;
    transition: background-color .3s, opacity .5s;
    opacity: 0;
    width: 100px;
    height: 75px;
    z-index: 1000;
    border-radius: 4px;
    top: 80%;
    left: 90%;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .back-to-top:hover {
    cursor: pointer;
  }
  .back-to-top.show {
    opacity: 1;
  }