/* 
    GP-ADVISORY && LP-ADVISORY PAGE
    ** both pages have the exact same layout
*/

.entry-content {
  .hero-container {
    .wp-block-cover {
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
    height: 90vh;
    width: 100%;
    background-size: cover, cover;
    display: flex;
    justify-content: center;
    align-items: center;
    }
      .wp-cover-heading {
        text-align: center;
        h1.wp-block-cover-text {
        color: $brand-white;
        font-family: $font-bold;
        font-size: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 700px;
        padding: 0;
        }
      p.wp-block-cover-description {
          color: $brand-white;
          font-family: $font-bold;
          font-size: 18px;
          margin: 0;
        }
      }
    }
  .services-practice-area {
    color: $brand-dark-grey;
    font-family: $font-bold;
    display: flex;
    flex-direction: column;
    align-items: center;  
    h2 {
      padding-top: 0.5rem;
      font-size: 40px;
      color: $brand-dark-grey;
      font-family: $font-bold;
      word-spacing: 0.25rem;
    }
    .practice-area-text {
      font-size: 20px;
      text-align: center;
      line-height: 1.5rem;
      width: 600px;
      margin: 0rem;
      padding-bottom: 3rem
    }
  .has-3-columns {
    width: 930px;
    text-align: center;
    .wp-block-column {
      width: 240px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .wp-block-image {
        height: 85px;
        width: 85px;
      }
        p {
          display: flex;
          margin-top: 0.5rem;
          margin-bottom: 1.5rem;
          font-size: 20px;
          padding: 0.25rem;
          line-height: 1.5rem;
        }
        .link-break {
          border: 1px solid #A13893;
          width: 10rem;
        }
        ul {
          padding: 0;
          margin: 0;
          padding-top: 1rem;
          text-align: center;
          li{
            font-size: 20px;
            font-family:$font-light;
            list-style: none;
            line-height: 1.5rem;
            padding-bottom: 1.25rem;
            margin-bottom: 0.75rem
          }
        }
    }
  }
}
  .value-container {
    width: 100%;
    background-color: #f0f0f0;
    .services-value-prop {
      width: 1024px;
      background-color: #f0f0f0;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      h2 {
        padding-top: 0.5rem;
        font-size: 40px;
        color: $brand-dark-grey;
        font-family: $font-bold;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
        word-spacing: 0.25rem;
      }
      .has-2-columns {
        display: flex;
        justify-content: center;
        min-height: 450px;
        padding-bottom: 1rem;
        .wp-block-nextend-smartslider3 {
          height: 250px;
          padding-left: 20px;
        }
        .wp-block-column {
          margin-left: 0px;
          .services-value-list {
            padding-right: 20px;
            text-align: center;
            font-family: $font-light; 
            font-size: 16px;
            width: 500px;
            ul {
              line-height: normal;
              padding-inline-start: 0;
              li{
                list-style: none;
                padding-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}

// CAROSUEL BULLET POINT COLORS
// GP ADVISORY PAGE
div#n2-ss-2 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot.n2-active, div#n2-ss-2 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot:HOVER {
  background: #A13893!important; 
}
div#n2-ss-2 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot {
  border: 1px solid #A13893!important;
  width: 4px!important;
  height: 4px!important;
  background: none!important;
}

// LP ADVISORY PAGE
div#n2-ss-3 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot.n2-active, div#n2-ss-3 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot:HOVER {
  background: #A13893!important; 
}

div#n2-ss-3 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot {
  border: 1px solid #A13893!important; 
  width: 4px!important;
  height: 4px!important;
  background: none!important;
}